<div class="container-fluid cont">
  <input class="form-control fastbet" type="text" placeholder="fastbet">
  <div class="card list-group bet-wrapper">
      <div class="list-group-item">
      <div class="card-header card-pos">
         
          <span><!--dog name and ID-->aja 1</span>
          <span><!--dog OddValue-->3.27</span>
           <span class="close">&times;</span>
      </div>
      <div class="card-footer card-pos">
          <span><!--dog no(option)-->4(P2)</span>
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="selction1">
                  <label class="custom-control-label" for="selction1"></label>
              </div>
      </div>
      </div>
      <div class="list-group-item">
              <div class="card-header card-pos">
                 
                  <span><!--dog name and ID-->aja 1</span>
                  <span><!--dog OddValue-->3.27</span>
                   <span class="close">&times;</span>
              </div>
              <div class="card-footer card-pos">
                  <span><!--dog no(option)-->4(P2)</span>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="selction1">
                          <label class="custom-control-label" for="selction1"></label>
                      </div>
              </div>
      </div>
      <div class="card" >
      <div class="card-footer card-pos">
          <div>Stake</div>
          <input class="form-control input-stake" type="text">
      </div>
      <div class="card-footer card-pos">
          <div>Total Stake</div>
          <input class="form-control input-stake" type="text">
      </div>
      <div class="card-footer card-pos">
          <div>Min. Win: 69</div>
          <div>Max. Win: 5789</div>
      </div>
      
      </div>
  </div>
  
  <div class="action-panel">
      <button type="button" class="btn btn-success action-btn"><i class="fa fa-rupee" aria-hidden="true"></i> bet</button>
      <button type="button" class="btn btn-info action-btn"><i class="fa fa-bank" aria-hidden="true"></i> scan</button>
      <button type="button" class="btn btn-danger action-btn"><i class="fa fa-bank" aria-hidden="true"></i> clear</button>
  </div>
</div>